.divContenedor {
  display: flex;
  flex-direction: column;
  margin: 0%;
  }
.divCabecera {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 3px solid red;
  }
.divLogo {
  }
#logo {
  }
.divLinkscabecera {
  }
.navegacion {
  display: flex;
  background: ;
  border-botton
  }
#linkApocalipsis {
  }
